# Black Hand OS kernel config fragment for HyperPixel support
# Apply with BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES
CONFIG_SND=y
CONFIG_SND_SOC=y
CONFIG_SND_PCM=y
CONFIG_SND_SOC_GENERIC_DMAENGINE_PCM=y
CONFIG_SND_SOC_HDMI_CODEC=y
CONFIG_DRM=y
CONFIG_DRM_VC4=y
CONFIG_DRM_VC4_KMS=y
CONFIG_DRM_V3D=y
CONFIG_DRM_RP1_DPI=y
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_FB=y

CONFIG_I2C_GPIO=y

CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_TOUCHSCREEN_GOODIX=y
