services:
  buildroot:
    build: .
    tty: true
    stdin_open: true
    volumes:
      - ./custom:/home/builder/custom
      - buildroot_src:/home/builder/src
      - buildroot_dl:/home/builder/dl

volumes:
  buildroot_src:
  buildroot_dl:
